@font-face {
  font-family: NorseBold;
  src: url('./Norse-Bold.otf') format(opentype);
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.left {
  background-image: url("./background.jpg");
  background-size: cover;
  min-width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 25%;
}

.logo-text {
  color: white;
  font-family: 'NorseBold';
}

.footer {
  color: white;
}

.right {
  min-width: 67vw;
  display: flex;
  flex-direction: column;
}

.top {
  font-weight: bold;
}